@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-weight: 400;
    color: #333333;
}
body,
.payFull,
.payininstallments{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.container,
form,
.form-group,
.courseName,
.pricingContainer,
.currencyType,
.paymentType,
.payFull,
.payininstallments,
.priceBox,
.backLink,
form.userDetails label,
.whatsappUpdates{
    padding: 10px;
}
.container,
.pricingContainer,
.form-group,
.userDetails{
    margin: 0 auto;
}
form{
    border: 1px solid #777777;
}
.checkoutForm input[type="radio"]{
    margin: 0 10px;
}
.paymentType label{
    margin: 0 7px;
}
.checkoutForm,
.priceBox,
.userDetails{
    border-radius: 3px;
}
.courseName{
    color: #0358b9;
}
.courseName,
form{
    text-align: center;
}
.container,
.form-group{
    width: 70%;
}
.courseName{
    font-weight: 700;
}
.checkoutForm label,
input[type="radio"],
.payFull,
.payininstallments,
.btn-proceed,
.proceedToPayment,
.whatsappUpdates label{
    cursor: pointer;
}
.checkoutForm .radioButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymentType{
    display: flex;
    justify-content: center;
}
.paymentType,
.priceBox,
.proceedToPayment{
    margin: 16px auto;
}
.payFull,
.payininstallments,
button{
    border: none;
}
.payFull,
.payininstallments{
    background: #ffffff;
}
.payFull{
    border-right: 1px dashed #777777;
}
.payFull,
.payininstallments{
    width: 50%;
}
.regularPrice{
    color: #403f3f;
    text-decoration: line-through;
}
.salePrice{
    color: #0358b9;
}
.priceBox{
    background-color: rgba(141, 183, 230, 0.71);
    color: #ffffff;
}
.priceBox{
    font-weight: 700;
    min-width: fit-content;
    width: 40%;
}
button{
    font-family: inherit;
}
.btn-proceed,
.proceedToPayment{
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 10px 0;
    transition: all .2s ease-in-out;
    background-color: #0358b9;
    color: #ffffff;
}
.btn-proceed:active{
    transform: translateY(3px);
}
.paymentType input[type="checkbox"]{
    margin: 0 2px;
}
.userDetails .form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userDetails .form-group input{
    height: 30px;
    padding: 5px;
}
.userDetails .form-group input,
.iti{
    width: 60%;
}
.userDetails .form-group input:focus-visible{
    outline: #0358b9 auto 1px;
}
.userDetails .whatsappUpdates input[type="checkbox"]{
    margin: 0 2px;
}
.backLink{
    display: block;
    margin: 5px 0;
}
.iti-flag{
    background-image: url("img/flags.png");
}
@media(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){
    .iti-flag{
        background-image: url("img/flags@2x.png");
    }
}
#error{
    color: red;
}


@media only screen and (max-width: 800px){
    .paymentType{
        flex-direction: column;
        align-self: center;
        width: 50%;
    }
    .payFull{
        border: none;
    }
    .payFull, .payininstallments{
        width: 100%;
    }
    #phone{
        width: 100%;
    }
    .form-group{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .container{
        width: 80%;
    }
    .checkoutForm .radioButtons{
        flex-direction: column;
    }
    .checkoutForm .radioButtons label{
        padding: 5px 0;
    }
    .paymentType{
        width: 100%;
    }
    .userDetails .form-group{
        flex-direction: column;
    }
    .userDetails .form-group label{
        padding: 6px 0;
    }
    .userDetails .form-group input, .iti{
        width: 80%;
    }
    .whatsappUpdates{
        margin: 5px 0;
    }
}
